A:link
{	
	text-decoration: none;
}	

A:visited
{	
	text-decoration:	none;
	color:	#333399;
}	
		
A:active
{	
	text-decoration:	none;
	color:	#333399;
}	
		
A:hover
{	
	text-decoration:	underline;
}

html
{
	height:99.9%;
	padding: 0px;
	margin: 0px;
	overflow: auto;
}

body
{
	font-weight: normal;
	font-size: 0.8em;
	word-spacing: normal;
	text-transform: none;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	letter-spacing: normal;
	background-color: #ffffff;
	margin:0px;
	padding: 0px;
	height:99.9%;
	/*width:expression(document.documentElement.clientWidth <= 1258? "1258px": "auto" );*/
}

.Announcements
{
	height:180px;
	overflow: auto;
	border:Solid 1px #F37421;
}

.Announcements table th
{
	color: white;
	background-image: url( 'images/header_gradient_orange.jpg' );
	background-repeat: repeat-x;
	font-family: Arial;
	font-size:medium;
	position:relative;
	white-space: nowrap;
}

.Announcements table tbody {overflow-x:hidden;} 

.clear
{
	clear:both;
}

#contentColumn
{
	/*padding:5px;*/
	width:auto;
	background-color: #ffffff;
	height:100%;
}

.errorRow
{
	width:100%;
	overflow: auto;
	font-weight: bold;
	color: Red;
}

.version
{
	padding-top:30px;
	font-weight: normal;
	color: #5A9A98;
}

.version td
{
	padding-right:80px;
}

.GridFilter
{
	background-color:#C6E0DF;
	padding:5px;
	border:Solid 1px #77B3B1;
}

.GridView
{
	font-family: Arial;
	font-weight: normal;
	color: black;
	border-style: solid;
	border-color: #3E9788;
	border-width: 1px;
	background-color: white;
}

.GridViewAlternateItem
{
	background-color: #DEE8F5;
}

.GridViewHeader
{
	font-weight: bold;
	background-color: #3E9788;
	text-align:left;
}

.GridViewHeader a:link
{
	color: White;
	text-decoration: none;
}

.GridViewHeader a:visited
{
	color: White;
	text-decoration: none;
}

.GridViewHeader a:active
{
	color: White;
	text-decoration: none;
}

.GridViewHeader a:hover
{
	color: White;
	text-decoration: underline;
}
		
.GridViewSelectedRow
{
	background-color: #96D4C9;
	color: Black;
}

.GridViewFooter
{
	background-color: #FFFFCC;
	text-align: right;
}

.GridViewPager
{
	background-color: #3E9788;
	font-weight: bold;
	color: White;
	text-align: left;
}

.GridViewLabelInfo
{
	font-weight:bold;
	color: Black;
	font-family: Arial;
	height: 20px;
	background-color: transparent;
}

.navColumn
{
	float: left;
	/*padding: 5px; /* width:24%; */
	border-right: Solid 1px #397371;
	height: 100%;
	background-color: #5A9A98;
	overflow-y: auto;
}

.navColumn A:link
{	
	text-decoration: none;
}	

.navColumn A:visited
{	
	text-decoration:	none;
	color:	white;
}	
		
.navColumn A:active
{	
	text-decoration: none;
	/*color:	yellow;*/
}	
		
.navColumn A:hover
{	
	text-decoration:	underline;
}

#MastheadHR {
	BACKGROUND: #397371; OVERFLOW: hidden; HEIGHT: 1px
}

.PageName
{
	font-weight: bold;
	font-size: large;
	width: 384px;
	color: #0E2C69;
	font-family: Arial;
	height: 40px;
	background-color: transparent;
	text-align: center;
}

.PanelGridContents
{
	width: 100%;
	overflow-x: auto;
}

.ReportViewerHeader
{
	color: #808080;
	vertical-align: bottom;
	height: 30px;
	background-color: #ECE9D8;
}

.shadetabs
{
	border-bottom: 1px solid gray;
	width: 100%;
	margin-bottom: 1em;
}

.shadetabs ul
{
	padding: 3px 0;
	margin-left: 0;
	margin-top: 1px;
	margin-bottom: 0;
	font: bold 12px Verdana;
	list-style-type: none;
	text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.shadetabs li
{
	display: inline;
	margin: 0;
	white-space:nowrap;
}

.shadetabs li a
{
	text-decoration: none;
	padding: 3px 7px;
	margin-right: 3px;
	border: 1px solid #778;
	color: #2d2b2b;
	background: white url(Images/shade.gif) top left repeat-x;
}

.shadetabs li a:visited
{
	color: #2d2b2b;
}

.shadetabs li a:hover
{
	text-decoration: underline;
	color: #2d2b2b;
}

.shadetabs li.selected
{
	position: relative;
	top: 1px;
}

.shadetabs li.selected a
{ /*selected main tab style */
	background-image: url(Images/shadeactive.gif);
	border-bottom-color: white;
}

.shadetabs li.selected a:hover
{ /*selected main tab style */
	text-decoration: none;
}

.TableFilter
{
	font-weight: normal;
	font-family: Arial;
	background-color: white;
}

.TableFilter td
{
	border:1px solid #3E9788;
	padding: 4px;
}

.TableFilter th
{
	padding: 4px;
}

.TableHeader
{
	font-weight: normal;
	color: white;
	font-family: Arial;
	/*background-color: #000080;*/
	border-style:none;
}

.TreeHeaderPanel
{
	float: left;
	width: 20px;
	height: 100%;
}

.TreeContentPanel
{
	float: left;
	/* width: 200px;*/
	height: 100%;
	overflow: hidden;
	margin-right: 5px;
}

th 
{
	color: white;
	background-color: #3E9788
}

.treeNode
{
	color:White;
	font:14px Arial, Sans-Serif;
	font-weight:bold;
}
.rootNode
{
	font-size:14px;
}
.leafNode
{
	font-size:14px;
}

a.toolbarHref img
{
	margin-left:10px;
}

.toolbarimage
{
	margin-left:10px;
}

.toolbarlabel
{
	margin-left:15px;
}

.tabs
{
	position:relative;
	top:1px;
	left:10px;
}
.tab
{
	border:solid 1px #777788;
	background: white url(Images/shade.gif) top left repeat-x;
	padding:2px 3px;
	color:Black;
	font: bold 12px Verdana;
}
.selectedTab
{
	background-color:White;
	border-bottom:solid 1px white;
	background-image: url(Images/shadeactive.gif);
	color:Silver;
	font: bold 12px Verdana;
}
.labelcaption
{
	font-family: Arial;
	font-size: small;
	font-weight: bold;
	font-style: normal;
	color: #000080;
}

td.ReportNoWrapRightJustify, span.ReportNoWrapRightJustify
{
	white-space: nowrap;
	text-align: right;
}

.CollapsibleHeader
{
	height: 20px;
	color: #FFFFFF;
	font-weight: bold;
	background-image: url(         'images/header_gradient.jpg' );
	background-repeat: repeat-x;
}

.CollapsibleContent
{
	height: 0;
	z-index: 1;
	overflow: hidden;
}

.UncollapsibleCollapsibleContent
{
	z-index: 1;
	overflow: hidden;
}

.SectionPanel
{
	border: thin solid #FFFFFF;
	padding: 5px;
	background-color: #CCEBE6;
}

.SummaryPanel
{
	float: left;
	margin-left: 4px;
	margin-top: 8px;
}

.GridToolPanel
{
	float: left;
}

.ListPanel
{
	overflow-x: auto;
	width: 99.9%;
	background-color: #C6E0DF;
	border-color: #77B3B1;
	border-style: solid;
	border-width: 1px;
}

.DetailPanel
{
	float: left;
	height: 0;
	z-index: 1;
	margin-top: 8px;
	margin-left: 4px;
	margin-right: 15px;
}

.DetailPanel2
{
	height: 0;
	z-index: 1;
	margin-top: 8px;
	margin-left: 4px;
	margin-right: 15px;
}

.DivSummaryColumn
{
	float: left;
	height: 0;
	background-color: #EFEFEF;
	z-index: 1;
	margin-right: 2px;
}

.DivDetailColumn
{
	left:inherit;
}

.ToolBar
{
	height: 34px;
	width: 100%;
	padding: 0px;
	border-width: 0px;
	background-color: #EFEFEF;
}

.InfoPageHeader
{
	padding: 8px;
	height: 35px;
	color: #FFFFFF;
	font-weight: bold;
	background-image: url( 'images/header_gradient.jpg' );
	background-repeat: repeat-x;
}

.InfoContents
{
	padding: 8px;
}

.DetailFormView
{
	height: 95%;
	width: 98%;
	overflow: auto;
	margin: 0px;
	padding: 5px 10px 5px 10px;
}

.DetailViewControlPanel
{
	height: 24px;
	width: 25px;
	vertical-align: middle;
	padding: 0px;
	margin: 0px;
	border: none;
	background-color: #D1DDF1;
}

.FormViewControlPanel
{
	height: 29px;
	vertical-align: middle;
	padding: 0px;
	margin: 0px;
	border-width: 1px;
	border-color:Gray;
	border-style: solid;
	background-color: #D1DDF1;
}

.FormViewControlPanelImage
{
	padding-left: 10px;
	padding-right: 10px;
}

.FormViewLayoutTable
{
	width: 100%;
	padding: 2px;
	margin: 0px;
	border-width: 1px;
	background-color: #CCEBE6;
	overflow-x: auto;
}

.UpdateImage
{
	margin-right: 10px;
	float: left;
	height: 25px;
}

.QuickFilterBox
{
	font-size: small;
	padding: 0 0 0 3;
	margin: 0;
	vertical-align: middle;
	background-color: #CCEBE6;
	width: 75px;
}

.NumericTextBox
{
	vertical-align: middle;
	text-align: right;	
	width: 60px;
}

.UserIDText
{
	color: #FFFFCC;
}

.CollapseImage
{
	margin-left: 5px;
	margin-right: 10px;
}

.WindowsStyle .ajax__combobox_inputcontainer .ajax__combobox_textboxcontainer INPUT {
	BORDER-RIGHT: #7f9db9 0px; PADDING-RIGHT: 0px; BORDER-TOP: #7f9db9 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 13px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #7f9db9 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #7f9db9 1px solid; HEIGHT: 18px
}
.WindowsStyle .ajax__combobox_inputcontainer .ajax__combobox_buttoncontainer BUTTON {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BACKGROUND-POSITION: left top; BORDER-TOP: 0px; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(images/windows-arrow.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; WIDTH: 21px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; HEIGHT: 21px
}
.WindowsStyle .ajax__combobox_itemlist {
	BORDER-LEFT-COLOR: #7f9db9; BORDER-BOTTOM-COLOR: #7f9db9; BORDER-TOP-COLOR: #7f9db9; BORDER-RIGHT-COLOR: #7f9db9
}
